* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #00194A;
}

header, main, footer {
    width: 1140px;
    margin: 0 auto;
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Stuff */

.stuff {
    height: 530px;
    margin-top: 100px;
}

.st-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stuff-text {
    width: 450px;
    max-width: 100%;
}

.stuff-text h2 {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    padding-bottom: 30px;
}

.st-1, .st-2 {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}

.st-1 {
    padding-bottom: 40px;
}

.stuff-cards {
    width: 550px;
    height: 530px;
    position: relative;
}

.st-cards-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.st-card {
    width: 260px;
    height: 250px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    background-color: #fff;
    padding-left: 20px;
}

.card-1 {
    position: absolute;
    top: 0;
    left: 0;
}

.card-2 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.card-3 {
    position: absolute;
    right: 0;
    top: 140px;
}

.st-card:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.07);
}

.st-card img {
    padding: 36px 0 26px;
}

.st-card  h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 15px;
}

.st-card p {
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
}

@media (max-width: 1024px) {
    .st-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .stuff-text, .stuff-cards {
        width: 90%;
    }
    
    .st-cards-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 60px;
        row-gap: 50px;
    }
    
    .card-1 {
        position: initial;
    }
    
    .card-2 {
        position: initial;
    }
    
    .card-3 {
        position: initial;
    }
    
}

